@import '~antd/dist/antd.css';

*{
  overflow: hidden;
}

.App {
  text-align: center;
  margin-top: 1em;
  padding: 1em;
}

.App .ant-input {
  width: 50vh;
  display: flex;
  margin: 0 8px 8px 0;
}

.App Button{
  display: inline-flex;
  justify-content: center;
  width: 20vh;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 5px;
  width: 100%;
  text-align: center;
}
